.form-note {
	margin: 20px 80px 40px;
	box-shadow: 1px 1px 4px #d0d0d0;
	background: #fcfcfc;

	textarea.title {
		padding: 10px 12px;
		font-size: 22px;
		font-weight: bold;
		border-width: 0px;
		resize: none;
		box-shadow: none;
		background: inherit;

		&:focus {
			box-shadow: none;
		}
	}

	textarea.content {
		border-width: 0px;
		resize: none;
		box-shadow: none;
		background: inherit;
		padding-bottom: 10px;
		
		&:focus {
			box-shadow: none;
		}
	}

	.action {
		padding: 6px 12px;
		background: whitesmoke;
	}
}